body{
    margin: 0;
    padding:0;
    background-color: white;
}
#ContainerHeader{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    justify-content: space-between;
}
.ContainerHeaderFigure{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 70px;
    margin: 10px 0 ;
}
.ContainerHeaderImg{
    width: 70px;
    height: 70px;
}
.ContainerHeaderNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 10px 0 ;
}
.ContainerHeaderUl{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 0 0  ;
    padding: 0;
}
.ContainerHeaderLi, .ContainerHeaderLia{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    width: inherit;
    height: inherit;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

#ContainerSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-image: -webkit-linear-gradient(0deg,#ffe259 0%,#ffa751 100%);
    font-family: 'Fredoka One', cursive;
}
.ContainerSeccionTitel{
    font-size: 36px;
    color: black;
}
#ContainerSeccionHead{
    margin: 10px 0;
}

.ContainerSeccionTextArea{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    text-align: justify;
    resize: none;
    font-size: 16px;
    -webkit-box-shadow: -2px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 15px 0px rgba(0,0,0,0.75);
}
.hide{
    display: none;
}
.ContainerSectionWinDiv{
    display: flex;
    width: 360px;
    height: 200px;
    justify-content: center;
    flex-direction: column;
}

.ContainerSectionWinDivImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContainerSectionImg{
    width: 100px;
    height: 100px;
    animation: rotating 2s 0.25s linear infinite; ;
}

.ContainerSectionWinDivP{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 26px;
    margin: 0 0 15px 0;
    padding: 0;
}

.NameWiner{
    color: black;
    border-radius: 5px;
    -webkit-box-shadow: -2px 0px 10px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: -2px 0px 10px 1px rgba(0,0,0,0.49);
    box-shadow: -2px 0px 10px 1px rgba(0,0,0,0.49);
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    margin: 0px;
    /* padding: 10px; */
    background-color: white;
}
#ContainerSectionButton{
    display: flex;
    margin: 8px 0;
}

#start , #nuevo {
    margin: 15px 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1883ba;
    cursor: pointer;
}

#repetir{
    margin: 15px 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #209415;
    cursor: pointer;
}



button:hover{
    border: 1px solid black;
}



#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footerBy{
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color:black;
}

.ContainerRedes{
    width: 40px;
    height: 40px;

}
.BtnRedes{
    width: inherit;
    height: inherit;
    border: 0;
}
.BtnRedes:hover{

    border: 0;
}
.BtnRedesLink{
    font-size: 25;
    color: black;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

